# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore environment folders
env/
venv/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Streamlit and Leafmap cache files
.streamlit/
.leafmap/

# Ignore specific config files
config.yaml
credentials.json
